.spacer{
    flex: 1 1 auto;
}

h4{
    text-align: center;
    font-size: 30px;
    color: #515050;
    line-height: 1.4em !important;
    font-family: 'Montserrat','Helvetica','Arial','Lucida','sans-serif';
    font-weight: 500;
}




.z{
    /* position: absolute; */
    font-family: 'Montserrat','Helvetica','Arial','Lucida','sans-serif';
    text-align: center;
    line-height: 1.4em !important;
    font-weight: 500;
    z-index: 2;
    
    color: #333;
    /* margin-left: 700px; */
    /* margin-top: 10px; */
    font-size: 30px;
}

.img{
    position: absolute;
    z-index: 1;
    text-align: center;
    /* margin-left: 700px; */
}

.btnz{
    position: absolute;
    z-index: 2;
    margin-left: 730px;
    margin-top: 30px;
}

.square1{
   width: 200px;
   height: 200px;
   background: green;
   display: flex;
   display: inline-block;
   padding: 5px;
   margin: 5px;
   border-radius: 5px;
   text-align: center;
}

.square2, .square4 {
  width: 200px;
  height: 200px;
  background-color: green;
  display: flex;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  position: relative;
  margin-top: 80px;
  border-radius: 5px; 
  text-align: center;
}

.square3{
  width: 200px;
   height: 200px;
   background: green;
   display: flex;
   display: inline-block;
   padding: 5px;
   margin: 5px;
   margin-top: 80px;
   border-radius: 5px;
   text-align: center;
}


.example-card {
    width: 300px;
    height: 400px;
    display: flex;
    display: inline-block;
    justify-content: space-between;
    padding: 3px;
    margin: 12px;
    border-radius: 10px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .footer{
    background-color: blue;
  }

  ul{
    font-size: 23px;
    color: white;
    margin-top: 50px;
  }

  li{
    font: 10px;
    color: white;
    padding: 8px;
  }
  
  a{
    color: white;
    text-decoration: none;
  }
  